html {
  background: url(../images/devices.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}