.main-header {
	background: url(../images/devices1.jpg);
	height: 100vh;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	text-align: center;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background: transparent;
}

/*.col-centered {
	float: none;
	margin: 0 auto;
}*/

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

/*.v-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}*/

.main-content {
	color: #ffffff;
}

h1 {
	font-size: 50px;
}