.main-header {
	background: url(../images/devices.jpg);
	height: 100vh;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}